/* GUTENBERG */

/* Paragraph */

p.has-drop-cap:not(:focus)::first-letter {

	font-size: 64px;}

/* Image */

[class^="wp-block-"] figcaption {

	clear: both;

	font-size: 15px;

	font-style: italic;

	margin: 0.6em 0;

	text-align: center;

}

/* Quote */

blockquote cite {

	font-style: normal;

}

.wp-block-quote,

.wp-block-quote.is-large p,

.wp-block-quote.is-style-large p {

	font-style: normal;

}

.wp-block-quote[style*="text-align:right"] {

	padding-left: 0;

	padding-right: 2.4em;

}

.wp-block-quote[style*="text-align:right"]::before {

	left: auto;

	right: -10px;

}

.rtl .wp-block-quote[style*="text-align:left"] {

	padding-left: 2.4em;

	padding-right: 0;

}

.rtl .wp-block-quote[style*="text-align:left"]::before {

	left: -10px;

	right: auto;

}

.wp-block-quote.is-large cite,

.wp-block-quote.is-large footer,

.wp-block-quote.is-style-large cite,

.wp-block-quote.is-style-large footer {

	text-align: left;

}

.wp-block-quote.is-large,

.wp-block-quote.is-style-large {

	padding-left: 1.6em;

}

.wp-block-quote.is-large,

.wp-block-quote.is-style-large,

.wp-block-quote.is-large p,

.wp-block-quote.is-style-large p {

	font-size: 32px;

}

.wp-block-quote.is-large p,

.wp-block-quote.is-style-large p {

	margin-bottom: .8em;

}

.rtl .wp-block-quote {

	border: 0;

}

.rtl .wp-block-quote.is-large cite,

.rtl .wp-block-quote.is-large footer,

.rtl .wp-block-quote.is-style-large cite,

.rtl .wp-block-quote.is-style-large footer {

	text-align: right;

}

.rtl .wp-block-quote.is-large,

.rtl .wp-block-quote.is-style-large {

	padding-left: 0;

	padding-right: 1.6em;

}

/* Pullquote */

.wp-block-pullquote {

	border-top: 4px solid; /* The colours come from the header */

	border-bottom: 4px solid;

	border-left: 0;

	padding: 3em 0;

	margin-right: 0;

	margin-left: 0;

}

.wp-block-pullquote blockquote {

	color: #40464d;

	border-left: 0;

	text-align: center;

}

.wp-block-pullquote cite {

	margin: 0;

	font-style: italic;

}

/* Colors fork */

.has-dark-gray-color,

.has-dark-gray-color:hover,

.has-dark-gray-color:focus,

.has-dark-gray-color:active {

	color: #444340;

}

.has-dark-gray-background-color,

.has-dark-gray-background-color:hover,

.has-dark-gray-background-color:focus,

.has-dark-gray-background-color:active {

	background-color: #444340;

}

.has-medium-gray-color,

.has-medium-gray-color:hover,

.has-medium-gray-color:focus,

.has-medium-gray-color:active {

	color: #a8a6a1;

}

.has-medium-gray-background-color,

.has-medium-gray-background-color:hover,

.has-medium-gray-background-color:focus,

.has-medium-gray-background-color:active {

	background-color: #a8a6a1;

}

.has-light-gray-color,

.has-light-gray-color:hover,

.has-light-gray-color:focus,

.has-light-gray-color:active {

	color: #e6e6e6;

}

.has-light-gray-background-color,

.has-light-gray-background-color:hover,

.has-light-gray-background-color:focus,

.has-light-gray-background-color:active {

	background-color: #e6e6e6;

}

.has-white-color,

.has-white-color:hover,

.has-white-color:focus,

.has-white-color:active {

	color: #fff;

}

.has-white-background-color,

.has-white-background-color:hover,

.has-white-background-color:focus,

.has-white-background-color:active {

	background-color: #fff;

}

.has-blue-color,

.has-blue-color:hover,

.has-blue-color:focus,

.has-blue-color:active {

	color: #15b6b8;

}

.has-blue-background-color,

.has-blue-background-color:hover,

.has-blue-background-color:focus,

.has-blue-background-color:active {

	background-color: #15b6b8;

}

.has-dark-blue-color,

.has-dark-blue-color:hover,

.has-dark-blue-color:focus,

.has-dark-blue-color:active {

	color: #0c8384;

}

.has-dark-blue-background-color,

.has-dark-blue-background-color:hover,

.has-dark-blue-background-color:focus,

.has-dark-blue-background-color:active {

	background-color: #0c8384;

}

.has-black-color,

.has-black-color:hover,

.has-black-color:focus,

.has-black-color:active {

	color: #404040;

}

.has-black-background-color,

.has-black-background-color:hover,

.has-black-background-color:focus,

.has-black-background-color:active {

	background-color: #404040;

}
